<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Frontend App</title>
    <link
      rel="icon"
      href="./assets/static/infinite-outline.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <div>Hello World</div>
    <div><%= apiList.lang %></div>
    <div id="app-container" class="page">
      <main class="page-wrapper">
        <div class="page-body">
          <div id="main-region" class="container-xl"></div>
        </div>
      </main>
    </div>
    <script
      data-main="./assets/js/require_main.js"
      src="./assets/js/vendor/require.js"
    ></script>
  </body>
</html>
